.card {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  min-height: 60%;
  max-height: 75%;
  letter-spacing: 5px;
}

.left {
  border-right: 2px;
  border-right: 2px solid rgb(212, 181, 1);
  text-orientation: mixed;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  writing-mode: vertical-rl;
  text-align: center;
}

.left h3 {
  font-weight: 200;
}

.center {
  position: absolute;
  top: 0%;
  left: 15%;
  width: 50%;
}

.center .top {
  border-bottom: 1px solid rgb(212, 181, 1);
}

.centroid h1 {
  letter-spacing: 7px;
}

.right {
  position: absolute;
  right: 0%;
  width: 30%;
  top: 0%;
  padding: 7px;
}

.paragraphs {
  display: block;
  width: 800px;
  margin: 0 auto 30px;
  padding: 15px;
  background-color: #fdfdfd;
  border-radius: 30px;
  border: 5px solid;
  border-color: #806d00;
}
p {
  margin: 20px;
}
.heading {
  display: block;
  width: 800px;
  font-weight: lighter;
  margin: 0 auto 30px;
  padding: 15px;
  background-color: #fdfdfd;
  border-radius: 40px;
  border: 10px groove;
  border-color: rgb(212, 181, 1);
  text-align: center;
}

.imageone,
.imagethree {
  width: 300px;
  border: 10px dotted;
  border-color: #806d00 rgb(212, 181, 1);

  margin: 0 auto 30px;
  display: flex;
  align-items: center;
}
.imagetwo {
  border: 10px dotted;
  border-color: #806d00 rgb(212, 181, 1);
  margin: 0 auto 30px;
  height: 400px;
  display: flex;
  align-items: center;
}
.imagefour {
  width: 500px;
  border: 10px dotted;
  border-color: #806d00 rgb(212, 181, 1);
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
}
